.hero-banner {
  background-image: url("/media/images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0 3rem;
  position: relative;

  .avail-banner {
    position: absolute;
    right: 112px;
    top: -51px;
    transition: opacity 0.25s;
    font-family: var(--bs-caveat);
    line-height: 1;
    text-align: end;

    p {
      width: 150px;
      display: inline-block;
      margin: 0.8rem 0.8rem 0 0;
      transform: rotate(-12deg);
      color: #60d2fa;
    }

    span {
      position: absolute;
      top: -0.8rem;
    }
  }

  .hero-illustration svg {
    width: inherit;
  }

  .hero-1, .hero-2 {
    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 35px;
    }

    button {
      span + div {
        display: inline-block;
        margin-left: 0.5rem;

        svg {
          transform: rotate(-90deg);
          margin-top: -3px;
        }
      }
    }
  }

  .hero-1 button {
    box-shadow: 0 0.5rem 1rem rgb(97 96 246 / 45%);
  }

  .hero-2 button {
    color: #5fd2fa;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 45%);
  }
  
  .clients-title span {
    color: var(--yellow);
  }

  .clients {
    &:first-child svg {
      fill: #fff;
    }

    .col-12 {
      &:first-child {
        svg path {
          fill: white;
        }
      }

      .client {
        div {
          svg {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
        h6 {
          margin: 0 0;
        }
      }
    }
  }
}

.explore {
  padding: 6rem 0 0;

  .explore-banner {
    position: absolute;
    right: -55px;
    top: -61px;
    transition: opacity 0.25s;
    font-family: var(--bs-caveat);
    line-height: 1;
    text-align: end;
    width: 190px;

    p {
      width: 150px;
      display: inline-block;
      transform: rotate(-12deg);
      color: #60d2fa;
    }
    
    span {
      position: absolute;
      top: 15px;
      left: 0;

      svg {
        transform: rotate(180deg);
      }
    }
  }

  h1.title + p {
    width: 57%;
  }
}

.reasons-to-shop {
  padding: 4rem 0 0;
  background-color: #061a36;

  h6 {
    min-height: 72px;
  }
  .home-reason {
    svg {
      width: 58px;
      height: 58px;
    }
  }
}