@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

$primary:                     #6160f6;
$btn-padding-y:               0.5rem;
$btn-padding-x:               1.6rem;
$btn-border-radius:           0.575rem;

@include media-breakpoint-down(sm) { 
  section.header-cta span {
    font-size: 12px !important;
  }

  header {
    a.m-0.navbar-brand svg {
      width: 65px;
    }

    form {
      div.seach-icon svg {
        width: 15px !important;
        top: 8px;
        left: 14px;
      }

      #search-input {
        font-size: 11px !important;
        padding: 0.5rem 0.5rem 0.5rem 2.2rem !important;
      }
    }

    button.navbar-toggler {
      width: 30px;
      height: 30px;
      padding: 2px;
      
      .navbar-toggler-icon {
        width: 10px;
        height: 10px;
        background-size: 17px;
        padding: 2px;
      }
    }
  }

  footer {
    #branding {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        text-align: center;
      }

      form .position-relative {
        width: 100% !important;
      }
    }

    .footer-links {
      h5 {
        text-align: center;
      }

      ul li {
        text-align: center;
      }
    }
  }
}

@include media-breakpoint-down(lg) { 
  header {
    #search-input {
      width: 200px;
    }
    
    #navbar-container {
      position: relative;

      .navbar-nav {
        width: 50%;
      }
      .header-actions {
        width: 50%;
        margin: 0.5rem 0;
        padding: 0.5rem 0;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}


@include media-breakpoint-up(lg) { 
  button#support-chat {
    right: calc(calc(100vw - 950px) / 2) !important;
  }
}

@include media-breakpoint-up(xl) { 
  header {
    #search-input {
      width: 350px;
    }  
  }
  
  button#support-chat {
    right: calc(calc(100vw - 1131px) / 2) !important;
  }
}

@include media-breakpoint-up(xxl) { 
  header {
    #search-input {
      width: 350px;
    }  
  }
  
  button#support-chat {
    right: calc(calc(100vw - 1309px) / 2) !important;
  }
}


