section.header-cta {
  padding: 0.7rem 0;
  background-image: url(/media/images/Mask-Group-4.png);
  background-size: 100% 2.932rem;
  background-repeat: no-repeat;

  .cta-start {
    transform: scaleX(-1)
  }

  svg {
    margin-bottom: 3px;
  }
}

header {
  font-weight: 900;

  nav {
    flex-wrap: wrap !important;
    justify-content: space-between !important;
  }

  form {
    .seach-icon svg {
      position: absolute;
      top: 10px;
      left: 20px;
    }
    #search-input {
      font-size: 14px;
      padding: 0.5rem 0.5rem 0.5rem 2.8rem;
    }
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }

  #navbar-container {
    flex-grow: 0;

    .navbar-nav {
      font-size: 14px;
      .nav-link {
        color: black;

        &:hover {
          color: var(--bs-nav-link-hover-color);
        }
      }
    }

    .localization {
      font-size: 14px;
      svg {
        margin-top: -3px;
      }
    }

    button#header-contact {
      font-size: 14px;
    }
  }
}

footer {
  ul.social-media {
    list-style: none;
    display: inline;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      a  {
        .social-link {
          width: 50px;
          height: 50px;
          background-color: #f2f2ff;
          padding: 12px 18px;
          border-radius: 50%;

          svg {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
}