section.header-cta {
  font-weight: 900;
  position: fixed;
  top: 0;
  z-index: 101;
  padding: 0.7rem 0;
  background-image: url(/media/images/Mask-Group-4.png);
  background-size: 100% 2.932rem;
  background-repeat: no-repeat;
  transition: padding 0.25s;

  &.scrolled {
    padding: 0.5rem;
  }

  .cta-start {
    transform: scaleX(-1)
  }

  svg {
    margin-bottom: 3px;
  }
}

header {
  font-weight: 900;
  position: fixed;
  top: 2.908rem;
  z-index: 100;
  width: 100%;

  &.scrolled {
    top: 2.51rem;
    box-sizing: border-box;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);

    nav {
      padding: 0.25rem;
      
      .navbar-brand svg {
        width: 100px;
        height: 38px;
      }
    }
  }

  nav {
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    transition: padding 0.25s;

    .navbar-brand svg {
      transition: width 0.25s;
    }
  }

  form {
    .seach-icon svg {
      position: absolute;
      top: 10px;
      left: 20px;
    }
    #search-input {
      font-size: 14px;
      padding: 0.5rem 0.5rem 0.5rem 2.8rem;
    }
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }

  #navbar-container {
    flex-grow: 0;

    .navbar-nav {
      font-size: 14px;
      .nav-link {
        color: black;

        &:hover {
          color: var(--bs-nav-link-hover-color);
        }
      }
    }

    .localization {
      font-size: 14px;
      svg {
        margin-top: -3px;
      }
    }

    button#header-contact {
      font-size: 14px;
    }
  }
}

section#main {
  margin-top: 7.545rem;
}

footer {
  margin: 90px 0 50px;
  
  #branding {
    .brand svg {
      width: 170px;
      height: 67px;
    }

    form {
      input[type="email"] {
        padding: 0.375rem 1.8rem 0.375rem 1.5rem;
      }

      .email-icon {
        position: absolute;
        transform: rotate(-90deg);
        top: 7px;
        right: 9px;
      }
    }
  }

  .footer-links ul {
    padding: 0;
    list-style: none;

    li {
      padding: 0.5rem 0;
      font-size: 14px;

      a {
        text-decoration: none;
      }
    }
  }

  ul.social-media {
    list-style: none;
    display: inline;
    padding: 0;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      a  {
        .social-link {
          width: 50px;
          height: 50px;
          background-color: #f2f2ff;
          padding: 12px 18px;
          border-radius: 50%;

          svg {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }

}

html:not([data-scroll="calc(100vh - 92px)"]) button#support-chat {
  top: calc(100vh - 92px);
}


button#support-chat {
  position: fixed;
  right: 0.8rem;
  width: 80px;
  height: 80px;
  padding: 21px 21px;
  transition: top .1s;

  background-color: #5fd2fa;
  border-color: #5fd2fa;

  &:hover {
    background-color: #54bee4;
    border-color: #54bee4;
  }

  .support-chat-icon svg {
    width: 36px;
    height: 36px;
  }
}

